<div class="min-h-screen text-reset-dark">
    <mat-tab-group class="bg-white">
        <mat-tab label="Orders">
            <div class="flex justify-between items-cinter mt-2 max-w-screen-2xl mx-auto">
                <h2 class="text-2xl font-semibold">Customer orders</h2>
                <mat-form-field appearance="outline" class="mt-2">
                    <mat-label>Filter by status</mat-label>
                    <mat-select (selectionChange)="onFilterChange($event)">
                        @for (status of statusOptions; track $index) {
                        <mat-option [value]="status">{{status}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="bg-white">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let order"> {{order.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="buyerEmail">
                        <th mat-header-cell *matHeaderCellDef> Buyer email </th>
                        <td mat-cell *matCellDef="let order"> {{order.buyerEmail}} </td>
                    </ng-container>
                    <ng-container matColumnDef="orderDate">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let order"> {{order.orderDate|date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let order"> {{order.total|currency}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let order"> {{order.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let order">
                            <div class="flex">
                                <button matTooltip="View" matIconButton routerLink="/orders/{{order.id}}">
                                    <mat-icon color="accent">visibility</mat-icon>
                                </button>
                                <button matTooltip="Refund" [disabled]="order.status==='Refunded'" matIconButton
                                    (click)="openConfirmDialog(order.id)">
                                    <mat-icon color="warn">undo</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator class="bg-white" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons
                    [length]="totalItems" [pageSize]="orderParams.pageSize" (page)="onPageChange($event)">
                </mat-paginator>
            </div>

        </mat-tab>
        <mat-tab label="Catalog">
            Catalog placeholder
        </mat-tab>
        <mat-tab label="Customers">
            Customer service
        </mat-tab>
        <mat-tab label="Image upload">
            <app-image-uploader></app-image-uploader>
        </mat-tab>
         <mat-tab label="Test Errors">
           <app-test-error></app-test-error>
        </mat-tab>
    </mat-tab-group>
</div>